Options -Indexes

<IfModule mod_rewrite.c> 
    RewriteEngine on
    
    #Without trailing slash
    RewriteRule ^panel(/.+)?$ backend/web/$1 [L,PT]
    #With trailing slash
    RewriteRule ^panel/(.+)?$ backend/web/$1 [L,PT]

    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ frontend/web/$1 [L] 
</IfModule>

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
    Order allow,deny
    Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]
